// Colors

$dark: #2D2D2D;
$yel: #FFC540;
$bl: #1C629E;
$wh: #fff;
$red: #E0595D;
$gr: #9E9E9E;
$light-gr:#C4C4C4;
$main: #4E4C4C;
$add-cl: #7B7B7B;
$active-prod: #04B19E;
$light-dark: rgba(24, 24, 24, 0.61);
$very-light-grey: #E1E1E1;
$text-gr: #CDCBCB;
$black: #000;
$main-back:#FAFBFC;
$red: #E0595D;
$vg: #F0F0F0;
$bl-light: #247CC8;
$very-light-bl: #B1CEFA;
$green: #04B19E;
$pag-color: #5E5E5E;
$pag-blue: #66B1F1;
$pag-hover: #DEF0FF;
$bl-dark: #205684;
$black-cart: #1A1919;

$activeFilter: #E9F1FD;
$yelBtn: #FFCF62;
$back-btn: #EBF5FD;
$lite-green: #F4FAF6;

$light-line: rgba(205, 203, 203, 0.2);
$grey-line: #D4D4D4;
$catalog-line: #E1E1E1;

// Font size

$fz: 16px;
$add-fz: 18px;
$mobile: 14px;
$mini: 12px;
$main-title: 55px;
$sec: 36px;
$very-low: 8px;
$gap-big: 48px;
$gr-check: #787878;

$pad: 10px;
$middle: 24px;
$lower: 22px;
$tr: 13px;
$big: 32px;
$middle-sec: 20px;
$mid-b: 26px;
$ten: 10px;
$vos: 80px;

// Border radius

$rad: 4px;
$rad-scroll: 5px;
$rad-filters: 40px;

// Font weight 

$fwm: 500;
$defFw: 300;

// Shadow

$main-shadow: 0px 2px 8px 0px #0000001A;

// border

$border: 1px solid $very-light-grey;